/* YOUR CUSTOM STYLES */
.kpi-tile {
    padding-bottom: 5px;
}
    .kpi-tile .well hr{
        margin-top: 5px;
        margin-bottom: 5px;
    }
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse.collapse.show {
        display: block!important;
    }
}
